<div class="p-4 flex flex-col items-center">
  <h1 class="text-3xl font-bold mb-4">
    Listado de productos
  </h1>

  <div class="w-full overflow-scroll">
    <table class="bg-white">
    <thead>
      <tr>
        <th class="border px-4 py-2">ID</th>
        <th class="border px-4 py-2">Nombre</th>
        <th class="border px-4 py-2">Precio</th>
        <th class="border px-4 py-2">Descripción</th>
        <th class="border px-4 py-2">Imagen</th>
        <th class="border px-4 py-2">Editar</th>
        <th class="border px-4 py-2">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products(); track product.id) {
        <tr>
          <td class="border px-4 py-2">{{product.id}}</td>
          <td class="border px-4 py-2">{{product.name}}</td>
          <td class="border px-4 py-2">{{product.price}}</td>
          <td class="border px-4 py-2">{{product.description}}</td>
          <td class="border px-4 py-2">
            @if (product.images) {
              Si hay
            }@else {
              No hay imagen
            }
          </td>
          <td class="border px-4 py-2">
            <a routerLink="/edit/{{product.id}}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Editar</a>
          </td>
          <td class="border px-4 py-2">
            <button (click)="deleteProduct(product.id)" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Eliminar</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  </div>
  
<!-- paginado -->
<div class="flex justify-center p-5 mt-10 mb-10 gap-4 font-bold">
  <button class="bg-cyan-600 text-white px-4 py-2 rounded-lg hover:bg-cyan-700 transition-colors">Anterior</button>
  <div class="flex items-center gap-2">
    <span class="text-lg text-center">Página 1 de 10</span>
  </div>
  <button class="bg-cyan-600 text-white px-4 py-2 rounded-lg hover:bg-cyan-700 transition-colors">Siguiente</button>
</div>
</div>