<div class="text-center mt-8">

  <!-- fotos -->
  <div class="py-1 mt-8 mb-8 mx-auto max-w-6xl">
    <app-carousel [slides]="slides"></app-carousel>
  </div>

  <!-- bienvenida -->
  <h1 class="text-cyan-600 text-4xl font-bold mb-4">Bienvenido a <span class="text-cyan-800 font-extrabold">LIQUIDADORA
      RGW</span></h1>
  <p class="text-lg mb-4">Explora nuestros productos y encuentra lo mejor en <span
      class="text-cyan-600 font-bold">indumentaria laboral y de seguridad.</span></p>


  <!-- tipos de producto -->
  <div class="flex flex-wrap justify-evenly mt-10 mb-10 gap-4 ">
    @for (s of sections; track $index) {
    <div class="flex flex-col items-center justify-start">
      <div class="p-5 size-40 bg-celeste rounded-full shadow-lg">
        <img class="w-full h-full " src="{{ s.iconUrl }}" alt="{{ s.content }}">
      </div>
      <div class="text-center text-2xl font-bold uppercase whitespace-pre-line">{{ s.content }}</div>
    </div>
    }
  </div>

  <!-- minicatalogo -->
  <div class="mt-10 mb-10">
    <h1 class="bg-celeste text-shadow-sm text-white mb-5 p-10 text-3xl font-bold text-center uppercase">
      Nuestros Productos
    </h1>

    <div class="p-5 mx-auto max-w-6xl">
      <app-table-products [products]="products()"></app-table-products>
    </div>

    <div class="text-center">
      <a class="bg-cyan-600 hover:bg-cyan-500 rounded-2xl p-2 text-white text-1xl font-bold cursor-pointer"
        routerLink="/catalog">
        Ver Catalogo &RightArrow;
      </a>
    </div>
  </div>

  <!-- contactos -->
  <div class="mb-10" id="contacts">
    <div class="bg-celeste text-white py-10 text-center text-3xl shadow-lg ">
      <span class="font-bold uppercase text-shadow-sm">¡Contáctanos!</span> <br>
    </div>
    <div class=" py-10 text-center text-2xl">
      <p>Si tenés alguna pregunta o necesitas más información, no dudes en contactarnos.</p>
      <p class="mt-4">Estamos aquí para ayudarte a encontrar los productos que necesitas.</p>
    </div>
    <div class="flex items-center justify-center gap-4 flex-wrap
    *:bg-cyan-600 *:text-white *:p-4 *:text-center *:rounded-full *:shadow-lg ">
      <div>
        Dirección: <span class="text-cyan-100">Sucre 1174, Cordoba Capital</span>
      </div>
      <div class="flex">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" color="current" viewBox="0 0 24 24" fill="white">
            <path
              d="M6.014 8.00613C6.12827 7.1024 7.30277 5.87414 8.23488 6.01043L8.23339 6.00894C9.14051 6.18132 9.85859 7.74261 10.2635 8.44465C10.5504 8.95402 10.3641 9.4701 10.0965 9.68787C9.7355 9.97883 9.17099 10.3803 9.28943 10.7834C9.5 11.5 12 14 13.2296 14.7107C13.695 14.9797 14.0325 14.2702 14.3207 13.9067C14.5301 13.6271 15.0466 13.46 15.5548 13.736C16.3138 14.178 17.0288 14.6917 17.69 15.27C18.0202 15.546 18.0977 15.9539 17.8689 16.385C17.4659 17.1443 16.3003 18.1456 15.4542 17.9421C13.9764 17.5868 8 15.27 6.08033 8.55801C5.97237 8.24048 5.99955 8.12044 6.014 8.00613Z" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12 23C10.7764 23 10.0994 22.8687 9 22.5L6.89443 23.5528C5.56462 24.2177 4 23.2507 4 21.7639V19.5C1.84655 17.492 1 15.1767 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23ZM6 18.6303L5.36395 18.0372C3.69087 16.4772 3 14.7331 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C11.0143 21 10.552 20.911 9.63595 20.6038L8.84847 20.3397L6 21.7639V18.6303Z" />
          </svg>Whatsapp: <a href="{{whatsappLink}}" class="text-cyan-100 hover:underline">{{ whatsappNumber }}</a>
      </div>
      <div>
        Email: <a href="mailto:info@mail.com" class="text-cyan-100 hover:underline">info@mail.com</a>
      </div>
    </div>
  </div>

</div>