<div class="p-5">
  <a class="bg-cyan-700 hover:bg-cyan-500 p-2 rounded-md font-bold shadow-black text-white uppercase"
    routerLink="/catalog">&LeftArrow; Volver atras</a>
</div>

<div class="mb-5 shadow-2xl p-5 bg-sky-50">
  @if (product()) {
  <div class="flex justify-center flex-wrap">
    <!-- <img class="rounded-md aspect-square shadow-2xl max-w-2xl" src="{{product()?.images?.at(0)?.image || 'not-found.png'}}" alt=""> -->
    <div class="w-180 text-center">
      @if (slides().length>1) {
      <app-carousel [autoplayInterval]="0" [slides]="slides()"></app-carousel>
      }
      @else {
        <img class="rounded-md shadow-2xl " src="{{product()?.images?.at(0)?.image || 'not-found.png'}}" alt="">
      }
    </div>

    <div class="p-5">
      <h1 class="text-3xl bold uppercase">{{product()?.name}}</h1>
      <div class="text-sm text-sky-200">ID: {{product()?.id}}</div>
      <div class="w-min p-1 rounded-2xl bg-sky-300 text-black font-bold uppercase">{{product()?.product_type}}</div>
      <!-- <div class="text-2xl">${{product()?.price}}</div> -->
      <div>{{product()?.description}}</div>
      <a [href]="whatsappLink()"
        class="bg-sky-400 hover:bg-cyan-600 p-2 text-white rounded-2xl flex items-center w-min text-2xl">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" color="current" viewBox="0 0 24 24" fill="white">
          <path
            d="M6.014 8.00613C6.12827 7.1024 7.30277 5.87414 8.23488 6.01043L8.23339 6.00894C9.14051 6.18132 9.85859 7.74261 10.2635 8.44465C10.5504 8.95402 10.3641 9.4701 10.0965 9.68787C9.7355 9.97883 9.17099 10.3803 9.28943 10.7834C9.5 11.5 12 14 13.2296 14.7107C13.695 14.9797 14.0325 14.2702 14.3207 13.9067C14.5301 13.6271 15.0466 13.46 15.5548 13.736C16.3138 14.178 17.0288 14.6917 17.69 15.27C18.0202 15.546 18.0977 15.9539 17.8689 16.385C17.4659 17.1443 16.3003 18.1456 15.4542 17.9421C13.9764 17.5868 8 15.27 6.08033 8.55801C5.97237 8.24048 5.99955 8.12044 6.014 8.00613Z" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12 23C10.7764 23 10.0994 22.8687 9 22.5L6.89443 23.5528C5.56462 24.2177 4 23.2507 4 21.7639V19.5C1.84655 17.492 1 15.1767 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23ZM6 18.6303L5.36395 18.0372C3.69087 16.4772 3 14.7331 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C11.0143 21 10.552 20.911 9.63595 20.6038L8.84847 20.3397L6 21.7639V18.6303Z" />
        </svg> COMPRAR</a>
    </div>
  </div>
  }
  @else if (notFound()) {
  <div class="text-4xl uppercase">No encontrado</div>
  }
  @else {
  <div class="text-4xl uppercase">Cargando...</div>
  }
</div>


@if (userAdmin()) {
<div class="font-black text-white text-2xl p-5 bg-red-700 text-center">
  Seccion de administrador (SOLO ADMINISTRADORES)
</div>

<div class="mb-8 shadow-2xl p-5 bg-red-50">
  <div class=" flex justify-center gap-3 text-xl">
    <a class="bg-sky-400 p-2 text-white rounded-2xl cursor-pointer flex justify-center" (click)="editProduct()">
      <img src="edit.svg" alt="">
      Editar
    </a>
    <a class="bg-red-400 p-2 text-white rounded-2xl cursor-pointer flex justify-center" (click)="deleteProduct()">
      <img src="delete.svg" alt="">Eliminar</a>
  </div>

  @if (product()) {
  <app-add-images [productId]="product()?.id" ></app-add-images>
  }
</div>

}