<div class="text-center mt-4 mb-4">
    <label for="file" class="text-2xl bg-cyan-400 rounded-2xl p-2 text-white file:hidden cursor-pointer">
      &DoubleDownArrow;Subir Nueva Imagen
    </label>
  <input id="file" class="hidden" type="file" accept="image/*"
  (change)="onArchivoSeleccionado($event)">
</div>
<p  class="bg-sky-200 rounded-2xl p-2 text-white" [hidden]="!uploading()">Subiendo...</p>
<div class="flex flex-wrap">

  @for (img of images(); track $index) {
  <div class="text-center">
    <img class="aspect-square w-md" [src]="img.image" [alt]="'Imagen producto'">
    <button class="bg-red-500 text-white p-2 rounded-xl cursor-pointer" (click)="eliminar(img.id)">Eliminar</button>
  </div>
  }

</div>

<p [hidden]="!error()" class="text-2xl text-red-500 font-bold">{{ error() }}</p>