<div class="mb-4 p-5">
   <form action="" class="bg-white shadow-md p-2 rounded-lg" [formRoot]="searchForm">
    <!-- buscar por texto -->
     <div class="flex gap-2 items-center">
      Buscar: 

     <input class="grow min-w-5 bg-sky-100 p-2 rounded-md" type="text" [formField]="searchForm.name"
      placeholder="Nombre del producto">

      <button type="submit" class="bg-cyan-600 text-white px-4 py-2 rounded-lg
       hover:bg-cyan-700 transition-colors font-bold">Buscar</button>
     </div>

     <!-- categorias -->
     <div class="flex justify-center items-center flex-wrap gap-2 mt-2">
      <span class="text-center max-w-full">
        Tipo:
      <select class="bg-sky-100 p-2 rounded-md">
        <option value="">Todos</option>
        <option value="indumentaria">Indumentaria</option>
        <option value="calzado">Calzado</option>
        <option value="elementos-seguridad">Elementos de Seguridad</option>
      </select>
      </span>
      <span class="text-center max-w-full">
        Ordenar por:
      <select class="bg-sky-100 p-2 rounded-md">
        <option value="indumentaria">Precio: Menor a Mayor</option>
        <option value="calzado">Precio: Mayor a Menor</option>
        <option value="elementos-seguridad">Alfabético A-Z</option>
      </select>
      </span>
     </div>

   </form>
</div>

<!-- listado -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-10">
  <app-table-products [products]="products()"></app-table-products>
</div>

<!-- paginado -->
<div class="flex justify-center p-5 mt-10 mb-10 gap-4 font-bold">
  <button class="bg-cyan-600 text-white px-4 py-2 rounded-lg hover:bg-cyan-700 transition-colors">Anterior</button>
  <div class="flex items-center gap-2">
    <span class="text-lg text-center">Página 1 de 10</span>
  </div>
  <button class="bg-cyan-600 text-white px-4 py-2 rounded-lg hover:bg-cyan-700 transition-colors">Siguiente</button>
</div>