/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import 'tailwindcss';

@theme {
  
  --font-display: "Playfair Display", serif;
  --font-display--font-optical-sizing: auto;
  --font-display--font-weight: <weight>;
  --font-display--font-style: normal;
  --color-celeste: #4EC4FF;
}